.button13 {
    position: absolute;
    top:3%;
    left:3%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}
.button14 {
    position: absolute;
    top:3%;
    left:21%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}
.button15 {
    position: absolute;
    top:3%;
    left:39%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}

.button10 {
    position: absolute;
    top:14%;
    left:3%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}
.button11 {
    position: absolute;
    top:14%;
    left:21%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}
.button12 {
    position: absolute;
    top:14%;
    left:39%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}

.button7 {
    position: absolute;
    top:25%;
    left:3%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}
.button8 {
    position: absolute;
    top:25%;
    left:21%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}
.button9 {
    position: absolute;
    top:25%;
    left:39%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}

.button4 {
    position: absolute;
    top:36%;
    left:3%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}
.button5 {
    position: absolute;
    top:36%;
    left:21%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}
.button6 {
    position: absolute;
    top:36%;
    left:39%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}

.button1 {
    position: absolute;
    top:47%;
    left:3%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}
.button2 {
    position: absolute;
    top:47%;
    left:21%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}
.button3 {
    position: absolute;
    top:47%;
    left:39%;

    width: 15%;
    height:8%;
    background-color:#00ff00;
}